<h1>Posts</h1>
<ul class="container">
  <% @posts.each do |post| %>
      <li class="lead list-group-item m-3">
      <p>
      <%= post.body %>
      </p>
      <%if signed_in?%>
      <p>By: <%= post.user.name %></p>
      <%end%>
    <% end %>
    </li>

</ul>

<%= link_to  "Add Post", new_post_path, class:'btn btn-primary' %>
