<h1>Posts</h1>
<ul>
  <% @posts.each do |post| %>
    <li class="lead"><%= post.body %></li>
    <small>created by @<%= post.user.name %></small>
  <% end %>

</ul>

<%= link_to  "Add Post", new_post_path %>
