<%= form_for @post do |f| %>
<div class="container">
 <form-field>
  <%= f.label :body, "Post",class:'form-control' %>
  <%= f.text_field :body ,class:"form-control"%>
 </form-field>
 <%= f.submit class:"btn btn-primary" %>
</div>
<% end %>
